.gameContainer {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  gap: 1em;
  align-self: center;
}

.foundations {
  align-self: center;
  flex-flow: row wrap;
  display: flex;
  justify-content: center;
  gap: 0.5em;
  width: 15em;
}

.tableau {
  align-self: center;
  flex-flow: row wrap;
  display: flex;
  justify-content: center;
  gap: 0.35em;
  width: 25em;
}

.hand {
  display: flex;
  flex-flow: row wrap;
  align-self: center;
  justify-content: center;
  height: 4rem;
  margin-top: 1rem;
}

.hand > button {
  margin-right: -0.5rem;
  margin-left: -0.5rem;
}

.hand > button:hover {
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-name: showHandCard;
  margin-right: 0.4rem;
  margin-left: 0.4rem;
}
@keyframes showHandCard {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-1rem);
  }
}
