@import '../colors.scss';

.card {
  height: 64px;
  width: 46px;
  padding: 0;
  box-shadow: 0px 0px 4px 2px rgb(0, 0, 0, 0.5);
}

.faceDownCard {
  box-shadow:
    inset 0px 0px 0px 4px #fff,
    0px 0px 4px 2px rgb(0, 0, 0, 0.25);

  --c: #71100f;
  background: radial-gradient(
      circle at bottom,
      transparent 24%,
      var(--c) 25%,
      var(--c) 30%,
      transparent 31%,
      transparent 39%,
      var(--c) 40%,
      var(--c) 45%,
      transparent 46%
    ),
    radial-gradient(
      circle at top,
      transparent 24%,
      var(--c) 25%,
      var(--c) 30%,
      transparent 31%,
      transparent 39%,
      var(--c) 40%,
      var(--c) 45%,
      transparent 46%
    ),
    radial-gradient(
      circle at left,
      transparent 24%,
      var(--c) 25%,
      var(--c) 30%,
      transparent 31%,
      transparent 39%,
      var(--c) 40%,
      var(--c) 45%,
      transparent 46%
    ),
    radial-gradient(
      circle at right,
      transparent 24%,
      var(--c) 25%,
      var(--c) 30%,
      transparent 31%,
      transparent 39%,
      var(--c) 40%,
      var(--c) 45%,
      transparent 46%
    );
  background-size: 1rem 1rem;
  background-color: #f0908e;
  opacity: 1;
}

.emptyPile {
  border: 1px solid #90af92;
  border-radius: 3px;
  background: none;
  box-shadow: none;
  color: #90af92;
  font-size: 1.5rem;
}
